/model-00200.others
/model-00200.phi
/model-00200.tassign
/model-00200.theta
/model-00200.twords
/model-00400.others
/model-00400.phi
/model-00400.tassign
/model-00400.theta
/model-00400.twords
/model-00600.others
/model-00600.phi
/model-00600.tassign
/model-00600.theta
/model-00600.twords
/model-00800.others
/model-00800.phi
/model-00800.tassign
/model-00800.theta
/model-00800.twords
/model-01000.others
/model-01000.phi
/model-01000.tassign
/model-01000.theta
/model-01000.twords
/model-01200.others
/model-01200.phi
/model-01200.tassign
/model-01200.theta
/model-01200.twords
/model-01400.others
/model-01400.phi
/model-01400.tassign
/model-01400.theta
/model-01400.twords
/model-01600.others
/model-01600.phi
/model-01600.tassign
/model-01600.theta
/model-01600.twords
/model-01800.others
/model-01800.phi
/model-01800.tassign
/model-01800.theta
/model-01800.twords
/model-02000.others
/model-02000.phi
/model-02000.tassign
/model-02000.theta
/model-02000.twords
/model-final.others
/model-final.phi
/model-final.tassign
/model-final.theta
/model-final.twords
/newdata.dat
/wordmap.txt
